@model MudTestApp.Models.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}


<h1>Edit User</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post" class="mt-3">

            <div class="form-group row">
                <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Id" disabled  />
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="UserName"  />
                    <span asp-validation-for="UserName" classs="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update User</button>
                    <a asp-action="ChangePassword" asp-controller="Account" asp-route-id="@Model.Id" class="btn btn-primary">Change Password</a>
                    <a asp-action="ListUsers" class="btn btn-primary">Cancel</a>
                </div>
            </div>

        </form>
        
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="card">
            <div class="card-header">
                <h3>User Roles</h3>
            </div>

            <div class="card-body">
                @if (Model.Roles.Any())
                {
                    foreach(var role in Model.Roles)
                    {
                        <h5 class="card-title">@role</h5>
                    }
                }
                else
                {
                    <h5 class="card-title">Not assigned to any roles</h5>
                }
            </div>
            
            <div class="card-footer">
                <a class="btn btn-primary">Manage Roles</a>
            </div>
        </div>

    </div>
</div>